.container {
  color: white;
  background-color: #000;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 20px;
  padding-bottom: 5px;
  height: 100%;
  overflow: auto;
}

.logo {
  padding: 15px 0;
}
.logo > svg {
  max-width: 120px;
}

.playListContainer {
  color: #9c9c9c;
  padding-left: 10px;
  margin-top: 40px;
}
.playListTitle {
  margin-bottom: 5px;
}

.playListContainer > hr {
  margin-top: 5px;
  margin-bottom: 15px;
}
.playListItems {
  /* height: 100%; */
}
