.header {
  background-color: rgb(53, 53, 53, 0);
  position: sticky;
  top: 0px;
  height: 60px;
  align-items: center;
  padding: 10px;
  display: flex;
  gap: 10px;
  justify-content: space-between;
  z-index: 100;
}

.userInfoDropDown {
  cursor: pointer;
  display: flex;
  border-radius: 40px;
  padding: 5px 15px;
  background-color: rgba(0, 0, 0, 0.7);
  align-items: center;
  gap: 5px;
}

.userInfoDropDown > .avatar {
  width: 30px;
  height: 30px;
}

.navActions {
  display: flex;
  align-items: center;
  gap: 10px;
}
.navActions > button {
  cursor: pointer !important;
  background-color: rgba(0, 0, 0, 0.7) !important;
  color: white !important;
}
.navActions > button:disabled {
  background-color: rgba(109, 109, 109, 0.7) !important;
  color: rgb(88, 88, 88) !important;
}

.headerCenter {
  flex-grow: 1;
}
