.container {
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: column;
}
.main {
  flex: 1;
  overflow: hidden;
  display: flex;
}
.main > .sidebar {
  flex: 0.2;
  min-width: 230px;
}
.main > .content {
  flex: 0.8;
}
