.container {
  overflow: hidden;
  width: 100%;
  padding: 10px;
  color: white;
  height: 80px;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: #181818;
  justify-content: space-between;
}
.middle {
  flex: 1;
  display: flex;
  justify-content: center;
}

.controlIcon {
  color: white;
}
.controlIconPlay {
  color: green;
}

.right {
  align-items: center;
  margin-right: 20px;

  width: 100%;
  max-width: 140px;
  display: none;
  gap: 10px;
}
.left {
  overflow: hidden;
  height: 100%;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
}

.left > .trackCover {
  object-fit: contain;
  height: 100%;
  width: 100%;
}

.trackInfo {
  display: none;
  flex-direction: column;
}

.trackName {
  font-weight: bold;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1; /* number of lines to show */
  -webkit-box-orient: vertical;
}
.trackArtist {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1; /* number of lines to show */
  -webkit-box-orient: vertical;
}

@media screen and (min-width: 768px) {
  .trackInfo {
    display: flex;
    flex-direction: column;

    height: 100%;
    width: 100%;
    overflow: hidden;
  }
  .middle {
    flex: 1;
  }
  .left {
    flex: 0.3;
  }
  .right {
    display: flex;
    flex: 0.3;
  }
}
