.container {
}

.header {
  padding-left: 20px;
  width: 100%;
  height: 250px;
  background: rgb(233, 158, 106);
  background: linear-gradient(
    140deg,
    rgba(186, 93, 7, 1) 0%,
    rgba(168, 109, 62, 1) 70%,
    rgba(233, 158, 106, 1) 100%
  );
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-bottom: 40px;
}
.header > h1 {
  text-transform: uppercase;
}

.main {
  padding-top: 20px;
  padding-left: 20px;
}
